<template>
  <div class="delivery-detail-container" v-if="deliveryDetail">
    <div class="btn-group m-b-sm pickup-deliver">
      <button
        type="button"
        id="pickup-button"
        class="btn btn-xs w150"
        @click="setDelivery(false)"
        :class="pickup"
      >
        Pickup
      </button>
      <button 
        v-if="canDeliver"
        type="button"
        id="deliver-button"
        class="btn btn-xs w150"
        :class="deliver"
        @click="setDelivery(true)"
      >
        Deliver
      </button>
    </div>
    <select
      class="btn btn-xs btn-default m-r-xs w150 m-b-sm"
      name="scheduleType"
      v-model="scheduleType"
      @click="scheduleTypeList"
    >
      <option
        v-for="schedule in scheduleTypes"
        :key="schedule.value"
        :value="schedule.value"
        >{{ schedule.text }}</option
      >
    </select>
    <tgm-order-schedule
      @order-updated="setDeliveryDate"
      :init-date="deliveryDate"
      :is-delivery="isDelivery"
      :menu-schedule="schedule"
      :orderAhead="checkOrderAhead"
      :futureOrderModal="false"
      :config="config"
    ></tgm-order-schedule>
    <div v-if="checkRoute" class="modal fade" id="futureOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <tgm-order-schedule
              @order-updated="setDeliveryDate"
              :init-date="deliveryDate"
              :is-delivery="isDelivery"
              :menu-schedule="schedule"
              :orderAhead="true"
              :futureOrderModal="true"
              :config="config"
            ></tgm-order-schedule>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="deliveryModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <label>
              <span v-if="isDelivery">Deliver Order Information</span>
              <span v-else>Pickup Order Information</span>
            </label>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="form">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <place-autocomplete-field
                  v-model="googleAddress"
                  @input="getAddressAutoFill()"
                  label="Search"
                  name="googleAddress"
                  class="ml-2"
                  :api-key="googleMapKey"
                  placeholder="Enter an an address, zipcode, or location"
                  >
                </place-autocomplete-field>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <label>Address1</label
                  ><sup v-if="isDelivery"
                    ><i class="fa fa-asterisk required" aria-hidden="true"></i
                  ></sup>
                  <input
                    class="form-control"
                    type="text"
                    name="address1"
                    v-model="contact.address1"
                    :required="isDelivery ? true : false"
                    placeholder="Address"
                  />
                  <p v-if="errors.address1" class="text-danger">{{errors.address1}}</p>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label>Address2</label>
                  <input
                    class="form-control"
                    type="text"
                    name="address2"
                    v-model="contact.address2"
                    placeholder="Address2"
                  />
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label>City</label
                  ><sup v-if="isDelivery"
                    ><i class="fa fa-asterisk required" aria-hidden="true"></i
                  ></sup>
                  <input
                    class="form-control"
                    type="text"
                    name="city"
                    v-model="contact.city"
                    placeholder="City"
                  />
                  <p v-if="errors.city" class="text-danger">{{errors.city}}</p>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label>State</label
                  ><sup v-if="isDelivery"
                    ><i class="fa fa-asterisk required" aria-hidden="true"></i
                  ></sup>
                  <input
                    class="form-control"
                    type="text"
                    name="State"
                    v-model="contact.State"
                    placeholder="State"
                  />
                  <p v-if="errors.State" class="text-danger">{{errors.State}}</p>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label>Zip Code</label
                  ><sup v-if="isDelivery"
                    ><i class="fa fa-asterisk required" aria-hidden="true"></i
                  ></sup>
                  <input
                    class="form-control"
                    type="text"
                    name="zipCode"
                    style="margin-bottom: 9px;"
                    v-model="contact.zip"
                    placeholder="Zip Code"
                  />
                  <p v-if="errors.zip" class="text-danger">{{errors.zip}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <div class="alert alert-danger" role="alert" v-if="addressInvalid">
              <a href="#" class="alert-link">
                {{ addressInvalid }}
              </a>
            </div>
            <button type="button" class="btn btn-default" @click="resetDeliveryDetails()">
              Cancel
            </button>
            <button
              type="button"
              class="btn btn-order"
              @click="saveDeliveryDetails(false)"
              :disabled="isValidating"
            >
              Save changes
            </button>
            <button
              type="button"
              class="btn btn-order"
              @click="saveDeliveryDetails(true)"
              v-if="!paynow"
              :disabled="isValidating"
            >
              Pay Now
            </button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
</template>
<script>
import moment from "moment";
import { 
  DATEVALUEFORMAT,
  DATETIMEVALUEFORMAT
} from "../util";
import EventBus from '../event-bus';
export default {
  name: "delivery-detail",
  props: {
    schedule: Object,
    config: Object,
    init: Object,
    states: Array,
    open: String,
  },
  mounted() {
    if(localStorage.getItem('cartSessionStart')){
  
    }else{
      this.$localStorage.remove("delivery");
      this.$localStorage.remove("scheduleType");
      this.$localStorage.remove("isDelivery");
      this.$localStorage.remove("deliveryDate");
      this.$localStorage.remove("orderDate");
      this.$localStorage.remove("orderTime");
      if(this.open != 'open' && this.orderAhead){
        $("#futureOrderModal").modal("show");
      }
    }
    if (window.location.pathname == "/viewcart") {
      this.paynow = true;
    }
    this.scheduleTypeList();
    if(this.open == 'open'){
      if(this.$localStorage.get('scheduleType')){
        this.scheduleType = this.$localStorage.get('scheduleType')
      }else{
        this.scheduleType = 'ASAP';
        this.$localStorage.set('scheduleType', this.scheduleType);
      }
      this.deliveryDate = moment();
      this.dtSet = moment().format(DATETIMEVALUEFORMAT)
    }
    if(this.open != 'open' && this.orderAhead){
      if(this.$localStorage.get('scheduleType')){
        this.scheduleType = this.$localStorage.get('scheduleType')
      }else{
        this.scheduleType = 'FUTURE';
        this.$localStorage.set('scheduleType', this.scheduleType);
      }
    }
    if(this.scheduleType == 'ASAP'){
      this.deliveryDate = moment();
      this.$localStorage.set('deliveryDate', this.deliveryDate);
    }
    this.updateDelivery(this.$localStorage.get('isDelivery'));
    if(this.$localStorage.get('delivery')){
      var data = JSON.parse(this.$localStorage.get('delivery'));
      this.contact.address1 = data.address1;
      this.contact.address2 = data.address2;
      this.contact.city = data.city;
      this.contact.State = data.State;
      this.contact.zip = data.zip;
    }
  },
  beforeDestroy() {
  },
  watch: {
    contact: {
      deep: true,
      handler(val) {
        this.isValidating = false;
      },
    },
    init: function (val, oldVal) {
      // this.isDelivery = val.delivery;
    },
    scheduleType: function (val, oldVal) {
      this.$localStorage.set('scheduleType', val);
    },
  },
  computed: {
    cdAddress() {
      return `${this.contact.address1}, ${this.contact.city}, ${this.contact.State}`;
    },
    checkOrderAhead(){
      return this.scheduleType == 'FUTURE' ? true : false;
    },
    closeShopMessage(){
      if(this.open == 'open'){
        return "";
      } else{
        return "We are closed currently, but you can still order for tomorrow";
      }
    },
    pickup(){
      return this.isPickup && this.isPickup != 'false' ? "bg-primary" : "";
    },
    deliver(){
      return this.isDelivery && this.isDelivery != 'false' ? "bg-primary" : "";
    },
    checkRoute(){
      return window.location.pathname == "/order" ? true : false;
    },
    checkDelivery(){
      return this.isDelivery;
    },
    googleMapKey(){
      return this.$localStorage.get('googleMapKey');
    },
    canDeliver(){
      return this.config.delivery != "no";
    }
  },
  methods: {
    openDelivery() {
      if(this.checkDelivery){
        $("#deliveryModal").modal("show");
      }
    },
    setDelivery(isDelivery) {
      this.updateDelivery(isDelivery);
      if(isDelivery){
        this.errors = [];
        this.isValidating = false;
        this.openDelivery();
      }
    },
    updateDelivery(isDelivery) {
      if(isDelivery == 'false' || !isDelivery){
        isDelivery = false;
      }
      if(isDelivery == 'true'){
        isDelivery = true;
      }
      this.isDelivery = isDelivery;
      this.isPickup = !isDelivery;
      this.$localStorage.set('schedule', JSON.stringify(this.schedule));
      this.$store.commit('setIsDelivery', this.isDelivery);
      this.$localStorage.set('isDelivery', this.isDelivery);
      if(this.isDelivery){
        EventBus.$emit('prepMinutes', this.config.deliveryPrepMinutes);
      }else{
        EventBus.$emit('prepMinutes', this.config.pickupPrepMinutes);
      }
      EventBus.$emit('isDelivery', this.isDelivery);
    },
    setDeliveryDate(value) {
      console.log("set delivery date", value);
      if(this.$localStorage.get('scheduleType') == 'ASAP'){
        this.deliveryDate = moment();
      }else{
        this.deliveryDate = value;
      }
      this.$localStorage.set('deliveryDate', this.deliveryDate);
      this.dtSet = moment().format(DATETIMEVALUEFORMAT)
    },
    finalizeAddress(payload, redirect) {
      let _this = this;
      let geocoder = new google.maps.Geocoder();
      geocoder.geocode({ address: this.cdAddress }, function (results, status) {
        console.log("geocoded", status, results);
        if (status == google.maps.GeocoderStatus.OK) {
          payload.deliveryLatitude = results[0].geometry.location.lat();
          payload.deliveryLongitude = results[0].geometry.location.lng();
          if ((payload.deliveryLatitude == _this.config.latitude) && (payload.deliveryLongitude == _this.config.longitude)) {
            payload.radius = true;
            _this.completeSave(payload, redirect);
          }
          let dist = _this.getDistance(
            payload.deliveryLatitude,
            payload.deliveryLongitude
          );
          let deliveryRadiusFeet = _this.config.deliveryRadius * 5280;
          payload.deliveryFeet = dist;
          if (dist <= deliveryRadiusFeet) {
            payload.radius = true;
            _this.completeSave(payload, redirect);
          } else {
            _this.setDelivery(false);
            _this.addressInvalid =
              "We're sorry - your address is outside of our delivery area. Pickup has been selected for you.";
          }
        } else {
          _this.addressInvalid = "Please check your address and try again.";
        }
        this.isValidating = false;
      });
    },
    saveDeliveryDetails(redirect) {
      this.isValidating = true;
      this.validateFormData();
      if(this.validateFormDataError){
        return;
      }

      let payload = Object.assign({}, this.contact);
      payload.delivery = this.isDelivery;
      payload.pickup = this.isPickup;
      
      if (payload.deliveryDate = this.deliveryDate) {
       payload.deliveryDate = this.deliveryDate.format(DATETIMEVALUEFORMAT)
      } else {
        payload.deliveryDate = '';
      }

      // log date/time pickup/delivery chosen
      this.dtSet = moment().format(DATETIMEVALUEFORMAT);

     // payload.deliveryDate = this.deliveryDate.format(DATETIMEVALUEFORMAT);
    
      if (this.isDelivery) {
        this.finalizeAddress(payload, redirect);
      } else {
        this.completeSave(payload, redirect);
      }

    },
    getDistance(lat2, lon2) {
      let unit = "F";
      var lat1 = this.config.latitude;
      var lon1 = this.config.longitude;
      var radlat1 = (Math.PI * lat1) / 180;
      var radlat2 = (Math.PI * lat2) / 180;
      var theta = lon1 - lon2;
      var radtheta = (Math.PI * theta) / 180;
      var dist =
        Math.sin(radlat1) * Math.sin(radlat2) +
        Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
      if (dist > 1) {
        dist = 1;
      }
      /* Distance in statute miles */
      dist = Math.acos(dist);
      dist = (dist * 180) / Math.PI;
      dist = dist * 60 * 1.1515;
      /* Distance in Feet */
      if (unit == "F") {
        dist = parseInt(dist * 5280);
      }
      /* Distance in kilometers */ 
      if (unit == "K") {
        dist = dist * 1.609344;
      }
      /** Distance in  Nautical miles */
      if (unit == "N") {
        dist = dist * 0.8684;
      }
      return dist;
    },
    completeSave(payload, redirect) {
      payload.redirect = redirect;
      $("#deliveryModal").modal("hide");
      this.$emit("delivery-saved", payload);
      // if (redirect) {
      //   window.location = "/viewcart";
      // } else {
      //   $("#deliveryModal").modal("hide");
      // }
    },
    validateFormData(){
      if(this.isDelivery){
        this.errors.address1 = this.contact.address1 ? "" : "Address1 field is required.";
        this.errors.city = this.contact.city ? "" : "City field is required.";
        this.errors.State = this.contact.State ? "" : "State field is required.";
        this.errors.zip = this.contact.zip ? "" : "Zip field is required.";
      }
      if(this.errors.address1 || this.errors.city || this.errors.State || this.errors.zip){
        this.validateFormDataError = true;
      }else{
        this.validateFormDataError = false;
      }
    },
    scheduleTypeList(){
      this.errors = [];
      this.isValidating = false;
      let today = moment();
      this.scheduleTypes = [];
      if(this.open == 'open'){
        this.scheduleTypes.push({
          value: 'ASAP',
          text: 'ASAP'
        });
      }
      if(this.orderAhead){
        this.scheduleTypes.push({
          value: 'FUTURE',
          text: 'FUTURE'
        });
      }
      if(this.scheduleType == 'ASAP'){
        this.deliveryDate = today;
        this.dtSet = today.format(DATETIMEVALUEFORMAT)
      }
    },
    getAddressAutoFill(){
      this.googleAddress = this.googleAddress.split(',');
      this.googleAddress[2] = this.googleAddress[2] != null && this.googleAddress[2] != undefined ?  this.googleAddress[2] : '';
      this.zipCode = this.googleAddress[2].split(' ');
      this.googleAddress[3] = this.googleAddress[3] != null && this.googleAddress[3] != undefined ?  this.googleAddress[3] : '';
      for (var i = 0; i < this.googleAddress.length; i++) {
        this.contact.address1 = this.googleAddress[0] != null && this.googleAddress[0] != undefined  ? this.googleAddress[0] : '';
        this.contact.city = this.googleAddress[1] != null && this.googleAddress[1] != undefined ?  this.googleAddress[1] : '';
        this.contact.State = this.zipCode[1] ? this.zipCode[1] : '';
        this.contact.zip = !isNaN(this.zipCode.slice(-1)[0]) ? this.zipCode.slice(-1)[0] : '';
      }
    },
    resetDeliveryDetails(){
      this.contact.address1 = "";
      this.contact.address2 = "";
      this.contact.city = "";
      this.contact.State = "";
      this.contact.zip = "";
      let payload = Object.assign({}, this.contact);
      payload.delivery = this.isDelivery;
      payload.pickup = this.isPickup;
      
      if (payload.deliveryDate = this.deliveryDate) {
       payload.deliveryDate = this.deliveryDate.format(DATETIMEVALUEFORMAT)
      } else {
        payload.deliveryDate = '';
      }
      this.completeSave(payload, false);
    }
  },
  data: function () {
    return {
      contact: this.init || {
        fname: "",
        lname: "",
        email: "",
        address1: "",
        address2: "",
        mobile: "",
        city: "",
        State: "",
        zip: "",
      },
      isDelivery: false,
      isPickup: true,
      deliveryDate: null,
      isValidating: false,
      addressInvalid: false,
      paynow: false,
      dtSet: null,
      orderAhead: this.config.orderAhead == 1 ? true : false,
      errors: {
        fname: "",
        lname: "",
        email: "",
        address1: "",
        address2: "",
        mobile: "",
        city: "",
        State: "",
        zip: "",
      },
      validateFormDataError: false,
      scheduleType: "",
      scheduleTypes: [],
      deliveryDetail: true,
      scheduleOrder: {
        'status': false,
        'scheduleDateTime': null
      },
      googleAddress: null,
      zipCode: null,
    };
  },
};
</script>
<style lang="scss" scoped>
.delivery-detail-container {
  display: inline-block;

  .delivery-options {
    display: flex;
  }

  .form-group {
    width: 100%;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
  }
  //override the bootsrap
  .checkbox + .checkbox {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
  }

  .alert-danger {
    text-align: left;
  }

  .required {
    color: #d64242;
    font-size: 8px;
    margin-left: 3px;
  }

  .schedule-type{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 75px;
    margin-right: 75px;
  }
  .bg-primary{
    color:white;
  }
  .pickup-deliver{
    border: 1px solid;
    border-radius: 20px;
    padding: 4px 10px;
    background-color: white;
  }
  #pickup-button{
    border: 1px solid black!important;
    font-size: 10px;
  }
  #deliver-button{
    border: 1px solid black !important;
    font-size: 10px;
  }
  @media(max-white: 767px) {
    .delivery-detail-container .modal-dialog {
      width: 90%;
    }
    #loginModal {
      width: 96%;
    }
    #futureOrderModal{
      width: 96%;
      padding-left: 0px;
    }
  }
  #futureOrderModal .modal-dialog {
    max-width: 500px;
  }
}
</style>
