<template>
  <div class="delivery-instruction-container" v-if="checkDelivery">
    <div class="formGroup" id="deliveryInstructionsBlock">
        <label style="margin-left: 12px; margin-bottom: 15px;">Delivery Instructions</label>
        <textarea style="margin-left: 12px; margin-bottom: 15px;" name="deliveryInstructions" placeholder="Delivery Instructions" :value="deliveryInstructions" rows="4" cols="70"></textarea>
    </div>
  </div>
</template>
<script>
import moment from "moment";
import EventBus from '../event-bus';
export default {
  name: "delivery-instruction",
  mounted() {
    this.isDelivery = (this.$localStorage.get("isDelivery") == 'false' || this.$localStorage.get("isDelivery") == false) ? false : true;
    this.deliveryInstructions = this.$localStorage.get("deliveryInstructions");
    var _this = this;
    EventBus.$on('isDelivery', function (isDelivery) {
      _this.isDelivery = isDelivery;
      $("#loader").css('display', 'block');
      if(_this.isDelivery){
        var url = '/viewcart?isDelivery=1';
        var tip = $('#deliveryTipAmount').val();
        var newTotal = $('#deliveryTotal').val();
      }else{
        var url = '/viewcart?isDelivery=0.00';
        var tip = $('#pickupTipAmount').val();
        var newTotal = $('#pickupTotal').val();
      }

      axios
      .get(url)
      .then(response => {
        if(response.data.validDelivery == 0){
            alert(response.data.html);
            window.location.href = "/order";
        }
        $("#viewCartHTML").html('');
        $("#viewCartHTML").html(response.data.html);
        $("#deliveryFee").val(response.data.deliveryFee)
        var orderTotal = parseFloat(newTotal) + parseFloat(tip);
        orderTotal = parseFloat(orderTotal).toFixed(2);
        $('#total').val(orderTotal);
        $('#tip').val(tip);
        $('#modalTipAmount').val(tip);
        var t = parseFloat(tip).toFixed(2);
        var p = '$' + t.toString();
        var tl = '$' + orderTotal.toString();
        $('#orderTip').html(p);
        $('#orderTotal').html(tl);
        $("#loader").css('display', 'none');
      })
      .catch(error => {
        console.log(error)
      })
    
    });
  },
  beforeDestroy() {
  },
  watch: {
  },
  computed: {
    checkDelivery(){
      return this.isDelivery;
    }

  },
  methods: {
  },
  data: function () {
    return {
      isDelivery: false,
      deliveryInstructions: null
    };
  },
};
</script>
<style lang="scss" scoped>

</style>
