<template>
  <div class="hidden-field-container">
    <input
      type="hidden"
      v-for="(value, name) in source"
      :key="name"
      :name="name"
      :value="value"
    />
  </div>
</template>
<script>
export default {
  name: "hidden-fielder",
  props: {
    source: Object,
  },
  mounted() {
    // console.log("here with my data", this.source);
  },
  data: function () {
    return {};
  },
};
</script>
