<template>
  <div class="order-schedule-container" v-if="orderAhead">
    <div v-if="futureOrderModal" class="order-schedule-modal">
      <h5 class="modal-title" id="exampleModalLabel">Unfortunately We are closed right now but you can order for the next available time</h5>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <select
              class="form-control m-r-xs m-b-sm"
              v-model="orderDate"
              @change="generateTimeList"
            >
              <option
                disabled
                :selected="!orderDate || orderDate == undefined"
                value="null"
              >
                Select a Date
              </option>
              <option v-for="(d, i) in dayList" :key="i" :value="d.value">
                {{d.text}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <select
              class="form-control m-r-xs m-b-sm"
              v-model="orderTime"
              @change="setSchedule"
            >
              <option
                disabled
                :selected="!orderTime || orderTime == undefined"
                value="null"
              >
                Select a Time
              </option>
              <option v-for="(t, i) in getTimeList" :key="i" :value="t.value">
                {{t.text}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary getStarted" data-dismiss="modal" @click="getStarted">Get Started</button>
    </div>
    <div v-else class="btn-group m-b-sm schedule-order">
      <select
        id="orderTime"
        class="btn btn-xs w150 order-schedule"
        :value="getOrderTime"
        @change="setSchedule"
      >
        <option
          disabled
          :selected="!orderTime || orderTime == undefined"
          value="null"
        >
          Select a Time
        </option>
        <option v-for="(t, i) in getTimeList" :key="i" :value="t.value">{{
          t.text
        }}</option>
      </select>
      <select
        id="orderDate"
        class="btn btn-xs w150 order-schedule"
        :value="getOrderDate"
        @change="updateTimeList"
      >
        <option
          disabled
          :selected="!orderDate || orderDate == undefined"
          value="null"
        >
          Select a Date
        </option>
        <option v-for="(d, i) in dayList" :key="i" :value="d.value">{{
          d.text
        }}</option>
      </select>
    </div>
  </div>
</template>
<script>
import moment from "moment";
import {
  capitalize,
  setMomentTime,
  getMenuTimeListForDate,
  DATEVALUEFORMAT,
  TIMEVALUEFORMAT,
  DATETEXTFORMAT,
} from "../util";
import EventBus from '../event-bus';
export default {
  name: "tgm-order-schedule",
  props: {
    menuSchedule: Object,
    isDelivery: Boolean,
    initDate: Object,
    orderAhead: Boolean,
    futureOrderModal: Boolean,
    config: Object,
  },
  mounted() {
    let today = moment();
    let currentWeekday = today.format("dddd");
    //start with today and process the next seven days
    let dayPointer = today.clone();
    let openToday = false;
    this.generateDayList(today, currentWeekday, dayPointer, openToday);

    //we can populate time list here for today, otherwise it will be computed after the selected day
    if (openToday) {
      this.timeList = getMenuTimeListForDate(this.menuSchedule, today, this.orderPrepMinutes);
      this.$store.commit('setTimeList', this.timeList);
      //if timeList is still empty, then remove today from the list of available days
      if (this.timeList.length === 0) {
        this.dayList = this.dayList.filter((d) => {
          return d.text != "TODAY";
        });
      }
    }
    if(this.$localStorage.get('orderDate') && this.$localStorage.get('orderDate') != 'null'){
      this.updateOrderDate(this.$localStorage.get('orderDate'));
    } else if (this.dayList.length != 0 && this.futureOrderModal) {
      this.updateOrderDate(this.dayList[0].value);
    }
    var _this = this;
    EventBus.$on('prepMinutes', function (payLoad) {
      let today = moment();
      _this.timeList = getMenuTimeListForDate(JSON.parse(this.$localStorage.get('schedule')), today, payLoad);
      _this.$store.commit('setTimeList', _this.timeList);
    });
  },
  computed: {
    generateDeliveryDate() {
      if (!this.orderTime) return;
      
      let theDate = setMomentTime(
        moment(this.orderDate, DATEVALUEFORMAT),
        this.orderTime
      );

      let weekday = theDate.format('dddd');
      let startTime = 'start' + weekday;
      let startToday = setMomentTime(
        moment(this.orderDate, DATEVALUEFORMAT),
        this.menuSchedule[startTime]
      );
      
      if ( theDate.isBefore(startToday) ) {
        return this.isDelivery ? "Select Delivery Time" : "Select Pickup Time";
      } else {
        return theDate.format(DATETEXTFORMAT);
      }
    },
    getOrderTime(){
      return this.$store.getters.getOrderScheduleTime;
    },
    getOrderDate(){
      return this.$store.getters.getOrderScheduleDate;
    },
    getTimeList(){
      return this.$store.getters.getTimeList;
    },
    getIsDelivery(){
      return this.$store.getters.getIsDelivery;
    },
    orderPrepMinutes(){
      if(this.$localStorage.get("isDelivery") && this.$localStorage.get("isDelivery") != 'false'){
        return this.config.deliveryPrepMinutes;
      }else{
        return this.config.pickupPrepMinutes;
      }
    }
  },
  methods: {
    showDeliveryOptions() {
      this.showOptions = !this.showOptions;
    },
    generateTitle() {
      return `Schedule your ${this.isDelivery ? "Delivery" : "Pickup"}`;
    },
    generateDayList(today, currentWeekday, dayPointer, openToday){
      while (dayPointer.isBefore(today.clone().add(7, "days"))) {
        let theDay = dayPointer.format("dddd");
        let dayValue = dayPointer.clone().format(DATEVALUEFORMAT);

        //check theDay against menuSchedule to make sure it will be open:
        let scheduleProp = `start${theDay}`;
        if (!this.menuSchedule[scheduleProp]) {
          dayPointer.add(1, "d");
          continue;
        }

        if (theDay == currentWeekday) {
          this.dayList.push({
            text: "TODAY",
            value: dayValue,
          });
          openToday = true;
          //select today
          this.orderDate = dayValue;
        } else {
          let dayText = dayPointer.format("ddd, MMM D");
          this.dayList.push({
            text: dayText.toUpperCase(),
            value: dayValue,
          });
        }
        dayPointer.add(1, "d");
      }
    },
    updateTimeList(e) {
      this.orderDate = e.target.value;
      this.timeList = getMenuTimeListForDate(
        this.menuSchedule,
        moment(this.orderDate),
        this.orderPrepMinutes
      );
      this.$store.commit('setTimeList', this.timeList);
      this.$store.commit('setOrderScheduleDate', this.orderDate);
      this.$localStorage.set('orderDate', this.orderDate);
    },
    generateTimeList() {
      this.timeList = getMenuTimeListForDate(
        this.menuSchedule,
        moment(this.orderDate),
        this.orderPrepMinutes
      );
      this.$store.commit('setTimeList', this.timeList);
      this.$localStorage.set('orderDate', this.orderDate);
      this.$store.commit('setOrderScheduleDate', this.orderDate);
    },
    updateOrderDate(orderDate) {
      this.orderDate = orderDate;
      this.$store.commit('setOrderScheduleDate', orderDate);
    },
    updateOrderTime(orderTime) {
      this.orderTime = orderTime;
      this.$store.commit('setOrderScheduleTime', orderTime);
    },
    setSchedule(e) {
      this.orderTime = e.target.value;
      let theDate = setMomentTime(
        moment(this.orderDate, DATEVALUEFORMAT),
        this.orderTime
      );
      this.$emit("order-updated", theDate);
      this.$localStorage.set('orderTime', this.orderTime);
      this.$store.commit('setOrderScheduleTime', this.orderTime);
    },
    getStarted(){
      this.$localStorage.set('orderDate',this.orderDate);
      this.$localStorage.set('orderTime',this.orderTime);
    }
  },
  watch: {
    initDate: function (val, oldVal) {
 
      if (val) {
       // this.orderDate = val.format(DATEVALUEFORMAT);
        // this.orderTime = val.format(TIMEVALUEFORMAT);
        this.scheduled = true;
      }
    },
    orderDate: function (val, oldVal) {
      if (val) {
        this.timeList = getMenuTimeListForDate(
          this.menuSchedule,
          moment(val),
          this.orderPrepMinutes
        );
        this.$store.commit('setTimeList', this.timeList);
        var valueArray = [];
        var i;
        for (i = 0; i < this.timeList.length; i++) {
          valueArray[i] = this.timeList[i].value;
        }
        if(this.$localStorage.get('orderTime')){
          if(valueArray.includes(this.$localStorage.get('orderTime'))){
            this.updateOrderTime(this.$localStorage.get('orderTime'));
          }else{
            this.$localStorage.set('orderTime',this.timeList[0].value);
            this.updateOrderTime(this.$localStorage.get('orderTime'));
          }
        }else if (this.timeList.length != 0 && this.futureOrderModal){
          this.$localStorage.set('orderTime',this.timeList[0].value);
          this.updateOrderTime(this.$localStorage.get('orderTime'));
        }
        let theDate = setMomentTime(
          moment(val, DATEVALUEFORMAT),
          this.orderTime
        );
        this.$emit("order-updated", theDate);
      }
    },
    orderTime: function (val, oldVal) {
      if (val) {
        let theDate = setMomentTime(
          moment(this.orderDate, DATEVALUEFORMAT),
          val
        );
        this.$emit("order-updated", theDate);
      }
    },
  },
  data: function () {
    return {
      dayList: [],
      timeList: [],
      orderDate: null,
      orderTime: null,
      showOptions: false,
      scheduled: false,
    };
  },
};
</script>
<style lang="scss" scoped>
.order-schedule-container {
  display: inline;
  width: 100%;
  margin-top: 10px;
  .popover-content {
    padding: 0;
  }
  .options-panel {
    display: flex;
    margin: -26px 0px 12px 0px;
  }
  .the-title {
    width: 35%;
    height: 131px;
    padding: 8px 14px;
    margin: 0px 0px 0px -15px;
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
  }
  .the-form {
    width: 65%;
    padding: 0px 15px;
    margin-top: -6px;
  }
  .order-schedule{
    float: right;
  }
  .schedule-order{
    border: 1px solid;
    border-radius: 20px;
    padding: 4px 10px;
    background-color: white;
  }
  #orderTime{
    border: 1px solid black!important;
    font-size: 10px;
  }
  #orderDate{
    border: 1px solid black !important;
    font-size: 10px;
  }
  .oorder-schedule-modal {
    display: flex;
    flex-direction: column;
    justify-self: center;
  }
  .order-schedule-modal h5 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
  }
  .getStarted {
    margin-top: 30px;
    background: green;
    border: 1px solid green;
    width: 100%;
  }
  .getStarted:hover {
    background: green;
  }
  @media(max-white: 767px) {
    .delivery-detail-container .modal-dialog {
      width: 90%;
    }
    #loginModal {
      width: 96%;
    }
    #futureOrderModal{
      width: 96%;
      padding-left: 0px;
    }
    #futureOrderModal .modal-dialog {
      margin: 5px 15px;
      right: 9px;
    }
  }
}
</style>
