// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// font-awesome
@import "node_modules/font-awesome/scss/font-awesome";

.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.rounded {
  border-radius: 50%;
}

.a-baseline {
  align-items: baseline;
}

.mw-285 {
  min-width: 285px;
}
