@import "./resources/assets/sass/rhit_admin/rhit_admin.scss";

.topAdmin {
  max-height: 44px;
}

.empty-mailbox img {
  max-height: 28px;
}


.empty-mailbox-top {
  height: 60px;
  border-top: 1px solid #e7eaec;
  border-left: 1px solid #e7eaec;
  border-right: 1px solid #e7eaec;
}

.empty-mailbox-bottom {
  height: 100px;
  
}

.empty-mailbox-inner {
  width: 50%;
  border-top: 1px solid #e7eaec;
  border-bottom: 1px solid #e7eaec;
  padding-top: 72px;
  padding-bottom: 72px;
}

.empty-mailbox h2 {
  color: #999;
  margin-bottom: 28px;

}

.no-right-padding {
  padding-right: 0px;
}

.panel-default-dark {
    background-color: #e5e5e5 !important;
}

.panel-default-light {
    background-color: #f5f5f5 !important;
}

.pink-bg {
  background-color: $pink;
}

.lt-yellow-bg {
  background-color: $lt-yellow;
}

.lt-gray-bg {
  background-color: $lt-gray;
}

.lt-blue-bg {
  background-color: $lt-blue;
}

.tgm-orange-bg {
  background-color: $tgm-orange;
}

.db-blue-bg {
  background-color: $db-blue;
}

.widget .lt-blue-bg,
.widget .tgm-orange-bg {
  color: white !important;
}

.input-group-addon {
	background-color: #1ab394;
    color: white;
    min-width: 110px;
}

.il-b {
	display: inline-block;
}

.form-select-addon {
	width: 50%;
	margin-left: -3px;
}

.space-7 {
	margin: 0px 7px;
}

.w150 {
	min-width: 125px;
}

.loginbkgrnd {

	background-image: url('/img/iphonecloseup1920.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
}

.loginscreen h3,
.loginscreen a,
.loginscreen p {
	color: #e6e6e6;
}

.logintext:hover {
	color: #f8ac59;;
}

.loginSlogan {
    margin-top: -21px;
    margin-left: -13px;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
}

.topLogin {
	text-align: center;
	padding: 90px 0px 30px 0px;
}


.loginBanner {
	margin: -20px 0px 30px 0px;
}

.w90 {
  width: 90px;
}

.w110 {
  width: 110px;
}

.w25 {
  width: 25px;
}

.instructions,
.btn-up-instructions {
  display: none;
}

.checkbox-inline {
  display: inline-block;
  font-size: 16px;
  vertical-align: baseline;
}


@media (max-width: 768px) {

  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 14px;
  }

  .topLogin h1 {
    font-size: 96px;
  }

  .loginSlogan {
    margin-top: -6px;
  }

  .body-small .navbar-static-side {
    width: 200px;
  }

  .nav > li,
  .nav > li.active,
  .nav > li.hover {
    background-color: transparent;
  }

  .nav > li > a,
  .nav > li.active > a,
  .nav > li.hover > a {
    color: #a7b1c2 !important;
    background-color: transparent;
  }

  .nav > li a:hover,
  .nav > li a:focus {
    color: #fff !important;
  }

  .nav-second-level li > a {
    padding: 5px 22px !important;
  }


  .navbar-static-side {
  	margin-top: 50px;
    opacity: .94;
  }

  .w150 {
    max-width: 100px;
    font-size: 11px;
  }

  .xs-btn {
    margin-bottom: 10px;
    font-size: 12px;
    width: 200px;
  }

.footer {
  font-size: 10px;
}
}

.imageGallery {
  outline: 1px solid #2F4050;
  outline-offset: 2px;
  margin-right: 10px
}

.imageGallery-Pix {
  max-height: 175px;
  min-height: 175px;
}

.imageGallery-Pix img {
  max-width: 100%;
  max-height: 175px;
}


@media (max-width: 992px) {

.imageGallery-Pix img {
  margin-top: 12px;
}

.input-group-addon,
.displayWidth {
  display: block;
  width: 100%;
}

.fileinput-new #remove {
  display: none;
}

}


/*---Vertical Timelines --*/

.vertical-timeline-icon {
  border: 2px solid #aed2ff;
}

.timeline-event {
  background-color: $lt-blue !important;
  border: 2px solid #aed2ff;
}

.timeline-read {
  background-color: $lt-yellow !important;
  border: 2px solid #e7f154;
}

.timeline-nothing {
  background-color: $lt-red !important;
  border: 2px solid #f77575;
}

.vertical-timeline-content {
  border-radius: .6em;
}

.timeline-click {
  background-color: $lt-green !important;
  border: 2px solid #52e08b;
}


.dark-timeline .vertical-timeline-content:before {
  border-color: transparent #676a6c transparent transparent;
}

.dark-timeline .vertical-timeline-block:nth-child(2n) .vertical-timeline-content:before,
.dark-timeline.center-orientation .vertical-timeline-block:nth-child(2n) .vertical-timeline-content:before {
  border-color: transparent #676a6c transparent transparent;
}

@media only screen and (max-width: 767px) {
  .vertical-timeline-content h2 {
    font-size: 14px;
  }

  .vertical-timeline-content p {
    font-size: 12px;
  }

  .campaign-timeline {
    margin-left: -25px;
  }

}

.campaign-timeline {
  min-width: 300px;
}

@media only screen and (min-width: 768px) {
  .vertical-timeline-content h2 {
    font-size: 16px;
  }

  .vertical-timeline-content p {
    font-size: 13px;
  }

  .campaign-timeline {
    margin-left: -15px;
  }

}

.empty-icon {
  background-color: #efefef;
  width: 320px;
  height: 180px;
}

.empty-icon i {
  text-align: center;
  width: 320px;
  font-size: 128px;
  margin-top: 8%;
}

.cat-image-bottom {
  border-bottom: none !important;
}

@media (max-width: 480px) {

  .ibox-content {
      padding: 0px 0px 0px 5px;
  }

  .empty-icon,
  .empty-icon i {
      width: 100%;
  }
}

.menuImageListSmall {
  width: 320px;
  height: 180px;
}

.menuImageListSmall img {
  width: 320px;
  height: 180px;
}


.menuImageListLarge {
  width: 320px;
  height: 180px;
}

.menuImageListLarge img {
  width: 320px;
  height: 180px;
}

.m-l-15 {
  margin-left: 15px;
}

.w-pickupButton {
  margin-bottom: 10px;
  font-size: 14px;
}


