// Basic Colors
$navy: #1ab394;       // Primary color
$dark-gray: #c2c2c2;  // Default color
$blue: #1c84c6;       // Success color
$lazur: #23c6c8;      // Info color
$yellow: #f8ac59;     // Warrning color
$red: #ED5565;        // Danger color
$pink: #ffe7e7;		  // Pink
$lt-yellow: #fbffe0;  // Light Yellow
$lt-gray: #e3e3e3;	  // Light Gray
$lt-blue: #d7f2fd;	  // Light Blue
$db-blue: #a9ccff;	  // Dashboard Light Blue
$lt-green: #dbf9e5;   // Light Green
$lt-red: #ffe4e4;	  // Light Red

// Various colors
$text-color: #676a6c;   // Body text
$gray: #f3f3f4;         // Background wrapper color
$light-gray: #D1DADE;   // Default label, badget
$label-badget-color: #5E5E5E;
$light-blue:#fdffec;
$tgm-orange: #F4C714;  // togomeals.biz logo orange

// Spiner color and margin
$spin-color: $navy;
$spin-margin: 0 auto;


// IBOX colors ( default panel colors)
$border-color: #e7eaec;     // IBox border
$ibox-title-bg:#ffffff;     // IBox Background header
$ibox-content-bg:#ffffff;   // IBox Background content

//Sidebar width
$sidebar-width: 220px;

// Boxed layout width
$boxed-width: 1200px;
$boxed-backgound: none;

//Border radius for buttons
$btn-border-radius: 3px;

//Navigation
$nav-bg: #2F4050;
$nav-profil-pattern: none;
$nav-text-color: #a7b1c2;

//Webmail
$unread-background-color: #f0f7f5;