/*
 *
 *   Riverhouse IT - Responsive Admin Theme
 *   version 1.0
 *
*/
// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

// Variables, Mixins
@import "variables";
@import "mixins";

// INSPINIA Theme Elements
@import "typography";
@import "navigation";
@import "top_navigation";
@import "buttons";
@import "badgets_labels";
@import "elements";
@import "sidebar";
@import "base";
@import "pages";
@import "chat";
@import "metismenu";
@import "spinners";

// Landing page styles
@import "landing";

// RTL Support
@import "rtl";

// RHIT Skins
@import "skins";
@import "md-skin";

// Media query style
@import "media";

// Custom style
// Your custom style to override base style
@import "custom";

// Clear layout on print mode
@media print {
  nav.navbar-static-side {
    display: none;
  }
  body { overflow: visible !important; }

  #page-wrapper {
    margin: 0;
  }
}


.sm_spacer {
    margin-top: 8%;
}


.bg-error {
	
	background-image: url(/img/bg/blurred_blue1920.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bg-error h1,
.bg-error h3 {
	color: white;
}

.error-desc {
	color: white !important;
}

.error-bottom-spacer {
	height: 15%;
}

.lite-color {
  color: #f3f3f4;
}

.hr-small {
  margin-top: 10px;
  margin-bottom: 10px;
}

.font15px {
  font-size: 15px;
}

.adminRight {
  margin-right: 24px;
}

.topAdmin {
  margin-top: 7px;
}

.iconmenu {
  min-width: 16px;
}

.font-bold {
  font-weight: 600;
}
.font-normal {
  font-weight: 400;
}
.text-uppercase {
  text-transform: uppercase;
}
.font-italic {
  font-style: italic;
}

#newUserImage img {
  max-width: 100%;
  max-height: 100%;
}

.attache-open {
  color: $navy !important;
  font-size: 16px !important;
  margin-right: 3px !important;
}

.over-scroll {
  overflow: scroll;
}

.size16 {
  font-size: 16px;
}

.primary-color {
  color: $navy !important;
}

.warning-color {
  color: $yellow !important;
}

.danger-color {
  color: $red !important;
}

.white-bg {
  background-color: white;
}

.attache-file-manager {
  padding: 0px;
  border: none;
}

#sndInd, #sndGrp {
  display: none;
}